@use './Partials/header.scss';
@use './Partials/footer.scss';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: green;
}



.container {
    width: 100%;
    padding: 0 5px;

    @media (min-width: 800px) {
        width: 90%;
        margin: auto;
    }
}

#jumbotron {
    background-image: url('/images/billboard-bg.png');


    .jumbo_container {
        padding-top: 50px;
        padding-right: 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &>* {
            width: 100%;

            @media (min-width: 800px) {
                width: 50%;
            }
        }

        .jumbo_text {

            &>h2 {
                font-size: 50px;
                padding-bottom: 15px;
            }

            .search_container {
                margin-top: 30px;
                background-color: white;
                border-radius: 7px;
                padding: 7px;
                display: flex;

                &>input {
                    flex-grow: 1;
                    border: none;
                    background-color: white;
                    outline: none;
                }

                .search_btn {
                    border: none;
                    padding: 8px 12px;
                    color: white;
                    background-color: green;
                    border-radius: 10px;
                }
            }

            @media (min-width: 800px) {
                padding: 0 100px;
            }

        }



        .jumbo_img {
            padding-top: 20px;


            &>img {
                width: 100%;
            }
        }
    }
}

#banner_data {
    .container_data {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: space-between;

        .banner_single {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 50px 0;
            background-color: white;
            border-radius: 10px;
            box-shadow: 1px 1px 10px;

            @media (min-width:600px) {
                transform: translatey(-120px);
                width: calc(50% - 5px);

            }

            @media (min-width: 800px) {
                transform: translatey(-120px);
                width: calc(100% / 12 * 3 - 5px);
            }
        }
    }
}

#who_are {
    padding: 30px 0;

    .container_who_are {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &>* {
            width: 100%;

            @media (min-width: 800px) {
                width: 50%;
            }
        }

        .who_are_image {

            &>img {
                margin: 0 5%;
                width: 90%;
                clip-path: ellipse(49% 49% at 50% 50%);


            }
        }

        .who_are_info {
            &>h2 {
                padding: 15px 0;
            }

            &>ul {
                padding-left: 15px;
                padding-bottom: 20px;
                list-style: outside url('../../../public/circle-check-solid.svg');

                &>li {
                    padding: 8px 0;
                    vertical-align: top;
                    padding-left: 10px;

                }

            }



        }
    }
}


#category {
    padding-bottom: 30px;

    .container_category {

        .category_header {

            &>h2 {
                padding: 15px 0;
            }

            &>.btn_primary {
                margin-bottom: 20px;
            }

            @media (min-width: 800px) {
                display: flex;
                justify-content: space-between;
            }
        }



        .categories_container {
            display: flex;
            row-gap: 10px;
            flex-wrap: wrap;
            justify-content: space-between;

            &>* {
                width: 100%;
                display: flex;
                padding: 20px;
                background-color: rgba(255, 0, 0, 0.545);
                align-items: center;
                gap: 20px;
                border-radius: 10px;
                border: none;

                &>.category_icon {
                    color: red;
                    font-size: 30px;
                }

                @media (min-width:600px) {
                    width: calc(50% - 5px);
                }

                @media (min-width:800px) {
                    width: calc(100% / 12 * 4 - 5px);
                }
            }
        }
    }
}


#course {

    .container {

        &>h5 {
            padding: 15px 0;
        }

        &>h2 {
            padding-bottom: 50px;
        }
    }

    .container_course {
        display: flex;
        row-gap: 30px;
        flex-wrap: wrap;
        justify-content: space-between;

        .card_course {
            padding: 10px;
            width: 100%;
            background-color: white;
            border: 0;
            border-radius: 10px;
            box-shadow: 1px 1px 10px gray;

            .card_top {
                height: 200px;
            }

            .card_body {
                .text_subtitle {
                    padding: 10px 0;
                    display: flex;
                    justify-content: space-between;
                }

                .title {
                    padding: 20px 0;
                }
            }

            @media (min-width:600px) {
                width: calc(50% - 5px);
            }

            @media (min-width:800px) {
                width: calc(100% / 12 * 3 - 5px);
            }
        }
    }

    .btn_all_course {
        padding: 50px 0;
        display: flex;
        justify-content: center;
    }
}




.btn_primary {
    padding: 15px 40px;
    border: 0;
    border-radius: 24px;
    background-color: red;
    color: white;
}

.text_center {
    text-align: center;
}



#feedback {
    background-color: aqua;
    padding: 60px 0;

    .container {

        &>h2 {
            padding: 15px 0 50px;
        }

        &>.swiper {

            .swiper-slide {
                width: 100% !important;

                @media (min-width:800px) {
                    width: calc(100% /12 *4) !important;
                }
            }

            .swiper-pagination {
                @media (min-width: 800px) {
                    display: none;
                }
            }

            .user_feedback {
                display: flex;
                padding: 20px 0;
                align-items: center;

                .user_img {
                    width: 50px;

                    &>img {
                        width: 100%;
                    }
                }

                .user_info {
                    padding-left: 50px;
                    flex-grow: 1;

                    &>span {
                        display: block;
                    }
                }
            }
        }

    }
}

#professor {
    padding: 40px 0;

    .container {
        &>h2 {
            padding: 15px 30px;
        }

        .container_professor {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .card_professor {
                width: calc((100% /12)* 3 - 8px);
                background-color: white;
                border-radius: 8px;
                box-shadow: 1px 1px 10px black;

                &>img {
                    width: 100%;
                }

                @media (min-width:800px) {
                    width: calc(100% / 5 - 10px);
                }
            }

            .card_important {
                width: 100%;

                @media (min-width:800px) {
                    width: calc(100% / 5 - 10px);
                }
            }
        }
    }
}

#value_adder {
    padding: 30px 0;

    .container {

        &>h2 {
            padding: 15px 0 30px;
        }

        &>ul {
            padding-left: 15px;
            padding-bottom: 20px;
            list-style: outside url('../../../public/circle-check-solid.svg');

            &>li {
                padding: 8px 0;
                vertical-align: top;
                padding-left: 6px;

                @media (min-width:800px) {
                    width: calc(50%);

                }
            }

            @media (min-width:800px) {
                display: flex;
                flex-wrap: wrap;

            }

        }
    }
}

#accordion {
    padding: 30px 0 0;

    .container {
        margin-left: 20px;
        border-left: 1px solid black;

        .card {
            padding-bottom: 30px;

            .icon {
                left: 0px;
                padding: 10px;
                aspect-ratio: 1;
                font-size: 18px;
                background-color: white;
                position: absolute;
                border-radius: 50%;

                @media (min-width:800px) {
                    left: 48%;

                }
            }

            .accordion_item {
                margin: 0 30px 0 30px;
                width: calc(100% - 50px);

                .accordion_title {
                    position: relative;
                    padding: 10px;
                    background-color: aqua;

                    &:before {
                        position: absolute;
                        left: -8px;
                        content: '';
                        width: 0px;
                        height: 0px;
                        border-style: solid;
                        border-width: 10px 15px 10px 0;
                        border-color: transparent aqua transparent transparent;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                }

                .accordion_paragraph {
                    background-color: white;
                    padding: 10px 20px;
                    border-bottom-left-radius: 7px;
                    border-bottom-right-radius: 7px;
                    box-shadow: 0 3px gray;



                    .btn_primary {
                        margin-top: 20px;
                        padding: 7px 10px;
                    }
                }

                @media (min-width:800px) {
                    width: 50%;

                }
            }
        }

        .left_card {


            .accordion_left_title {
                position: relative;
                padding: 10px;
                background-color: aqua;

                &:before {
                    position: absolute;
                    right: -10px;
                    content: '';
                    width: 0px;
                    height: 0px;
                    border-style: solid;
                    transform: rotate(56deg);
                    border-width: 10px 15px 10px 0;
                    border-color: transparent aqua transparent transparent;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }

            .accordion_phone {
                position: relative;
                padding: 10px;
                background-color: aqua;

                @media (max-width:800px) {

                    &:before {
                        transform: rotate(0);
                        position: absolute;
                        left: -8px;
                        content: '';
                        width: 0px;
                        height: 0px;
                        border-style: solid;
                        border-width: 10px 15px 10px 0;
                        border-color: transparent aqua transparent transparent;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                }

            }


            @media (min-width:800px) {
                transform: translateX(-117%);

            }

            @media (min-width:1000px) {
                transform: translateX(-113%);

            }

        }

        @media (min-width:800px) {
            margin-left: 50%;

        }
    }
}

#newsletter {
    margin: 20px 0;
    background-color: aqua;

    .container {

        padding: 50px 0;

        &>h5 {
            padding: 10px 0;
        }

        &>form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            &>input[type="email"] {
                width: 95%;
                padding: 15px;
                border-radius: 20px;
                border: 0;
                background-color: white;
                outline: none;

                &::placeholder {
                    text-align: center;
                }
            }

            &>.btn_primary {
                width: 95%;
            }
        }

        @media (min-width:800px) {
            display: flex;

            &>* {
                width: 50%;
            }
        }
    }
}