#site_footer {
    background-color: white;

    .footer_top {
        padding-bottom: 70px;



        &>.container {

            .logo {
                margin-left: -20px;
                display: flex;
                align-items: center;
            }


            &>* {
                padding-top: 15px;
                width: 100%;

                @media (min-width:00px) {
                    width: calc(100% / 5);
                }

                &>ul {
                    list-style: none;
                    padding-top: 10px;

                    &>li {
                        line-height: 22px;

                        &>a {
                            text-decoration: none;
                            color: black;

                            &:hover {
                                transition: 0.2s linear;
                                color: #EC6C5B;
                            }
                        }
                    }
                }



                .widget_social>ul {
                    padding-top: 10px;
                    display: flex;
                    list-style: none;
                    gap: 10px;

                    &>li>a {
                        font-size: 20px;
                        text-decoration: none;
                        color: gray;

                        &:hover {
                            transition: 0.2s linear;
                            color: #EC6C5B
                        }
                    }
                }

            }


            @media (min-width:800px) {
                display: flex;
                justify-content: space-between;
            }

        }
    }

    .footer_bottom {
        padding: 15px 0;
        border-top: 1px solid gray;
    }
}